<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
<header th:insert="blocks/header"/>

<main class="page hire-me-page">
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Четная неделя</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="row">
                <!--                <div class="col"><button class="btn btn-primary" type="button">Назад</button></div>-->
                <div class="col">
                    <h1>Четная неделя</h1>
                </div>
                <!--                <div class="col"><button class="btn btn-primary" type="button">Вперед</button></div>-->
            </div>
        </div>
        <div class="container">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Понедельник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Первая пара</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="blocks/footer"/>
</body>
</html>